
@using Coir_ERP.Vehicles.Dto
@using Coir_ERP.Web.Models.Common.Modals
@model Coir_ERP.Web.Models.Common.Modals.CommonCreateOrEditViewModal<VehicleOutPutDto>


<div class="modal-body">

    <form name="CreateOrEditVehicleModalForm" role="form" novalidate class="form-validation" id="CreateOrEditVehicleModalForm">

        <div class="row ht-md">
            <div class="col-md-6 controlDiv">
                <div id="divVehicleNumber" class="form-group form-md-line-input form-md-floating-label no-hint">
                    @Html.TextBoxFor(model => model.ViewModal.VehicleNumber, new { @id = "VelicleNumber", @class = "form:control" })
                    <label>@L("VehicleNumber")</label>
                    <span class="field-validation-valid ErrorMessage" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="col-md-6 controlDiv">
                <div id="divVehicleNumber" class="form-group form-md-line-input form-md-floating-label no-hint">
                    @Html.TextBoxFor(model => model.ViewModal.CustomerName, new { @id = "CustomerName", @class = "form:control" })
                    <label>@L("VehicleNumber")</label>
                    <span class="field-validation-valid ErrorMessage" data-valmsg-replace="true"></span>
                </div>
            </div>

        </div>

    </form>
</div>


<div class="modal fade" id="CreateVehicleModal" tabindex="-1" role="dialog" aria-labelledby="UserCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewVehicle")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="userCreateForm" role="form" novalidate class="form-validation">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-user-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" type="text" name="UserName">
                                            <label class="form-label">@L("VehicleNumber")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            @*<input type="text" name="Name" class="form-control">*@

                                            <select name="VehicleType" id="VehicleType" class="form-control">
                                                <option value="">Select</option>
                                                <option value="Tractor">Tractor</option>
                                                <option value="Van">Van</option>
                                            </select>
                                            <label class="form-label">@L("VehicleType")</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="Surname" class="form-control">
                                            <label class="form-label">@L("CustomerName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="email" name="EmailAddress" class="form-control">
                                            <label class="form-label">@L("DriverName")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="password" id="Password" name="Password" class="form-control">
                                            <label class="form-label">@L("Amount")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control">
                                            <label class="form-label">@L("Description")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" class="filled-in" checked />
                                        <label for="CreateUserIsActive">@L("IsActive")</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div id="CustomerTableContainer"></div>
    </div>
</div>

@*@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")*@

@*<script src="~/Views/Vehicle/Create.js"></script>*@

